@model GoldUSD.Models.UserModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>GoldUsdRate.Com</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/qc.css")" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.ajax({
                    url: '/User/MainContent?t=' + new Date().getTime(),
                    success: function (data) {
                        $('#ajaxContent').html(data);
                    }
                });
            }, 15000);
            setInterval(function () { window.location.reload(true); }, 600000);
        });

    </script>
</head>
    <body>
        <div id="main">
            <table style="width: 100%">
                <tr>
                    <td id="ajaxContent">
                        @Html.Action("MainContent", "User")
                    </td>
                </tr>
            </table>
            <div style="clear: both;margin-top: 10px;">
                <p align="center">
                    Tài khoản: @Model.User.AspnetUser.UserName - Ngày hết hạn: @Model.User.ExpireDate.ToString("dd-MM-yyyy HH:mm")<br />
                    @Html.ActionLink("Đăng xuất","Logout","Home")</p>
            </div>
        </div>
    </body>
</html>
