<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="@Url.Content("~/Content/css/validation.css")" type="text/css" />
        <link rel="stylesheet" href="@Url.Content("~/Content/css/dateinput.css")" type="text/css" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.tools.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-migrate-1.1.1.min.js")"></script>
        <script type="text/javascript">
            $(function() {
                $.ajaxSetup({
                    cache: false
                });
            });
        </script>
        @RenderSection("Header",false)
    </head>
    <body>
        <div style="float: left; width: 15%;">
            <ul>
                <li>@Html.ActionLink("Quản lí tỉ giá", "PriceManagement", "Admin")</li>
                <li>@Html.ActionLink("Quản lí tài khoản", "UserManagement", "Admin")</li>
                <li>@Html.ActionLink("Quản lí tin tức", "NewsContentManagement", "Admin")</li>
                <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "Admin")</li>
                <li>@Html.ActionLink("Đăng xuất", "Logout", "Home")</li>
            </ul>
        </div>
        <div id="container" style="width: 80%;margin-left: 15%;">
            @RenderBody()
        </div>
    </body>
</html>
